<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Cinzel'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans'
	rel='stylesheet' type='text/css'>

<div class="jumbotron" ng-show="!loading"
	style="background: url(images/world_map.jpg) top center">
	<h1 style="font-family: 'Fredericka the Great', cursive;">
		<b>Admin</b>
	</h1>
		<div style="text-align: center; background: url(images/paper.jpg) top center; border-style: solid; border-width: 1px; font-family: 'Fredericka the Great', cursive;">
			
			<div class="col btn" style="border-style: solid; border-width: 1px; width: 30%" >
				<b ng-click="startImport()" >Start Import</b>
			</div> 
			
			<div class="col btn" style="border-style: solid; border-width: 1px; width: 30%">
				<b ng-click="cancelImport()">Abort Import</b>
			</div> 
					
			<div class="col btn" style="border-style: solid; border-width: 1px; width: 30%">
				<b>Status: {{ getStatus() }}</b>
			</div> 
		
		</div>
		
				<div style="text-align: center; background: url(images/paper.jpg) top center; border-style: solid; border-width: 1px; font-family: 'Fredericka the Great', cursive;">
		
			<div class="col btn" style="border-style: solid; border-width: 1px; width: 100%"> 
				<b><a href="/admin/index.html">Manage db</a></b>
			</div>
			</div>
	
</div>