<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Cinzel'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans'
	rel='stylesheet' type='text/css'>

<div class="jumbotron" ng-show="!loading"
	style="background: url(images/world_map.jpg) top center">
	<h1 style="font-family: 'Cinzel', serif;">
		<b>Top Players</b>
	</h1>
	<div>
		<div ng-repeat="score in scores">
			<div class="row">
				<h3 style="color: black">

					<div class="col"
						style="background: url(images/paper.jpg) top center; display: inline; border-color: black; border-style: solid; border-width: 2px; font-family: 'Fredericka the Great', cursive;">
						{{score.name}}</div>
					<div class="col"
						style="background: url(images/paper.jpg) top center; display: inline; border-color: black; border-style: solid; border-width: 2px; font-family: 'Fredericka the Great', cursive;">
						{{score.score}}</div>


				</h3>

			</div>

		</div>
	</div>
</div>